html {
    height: 100%;
    background: url(../images/pearl-jam-Cover.jpg) no-repeat center center fixed;
}

body {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
}

h1.header {
    justify-self: flex-start;
    width: 55%;
    color: #d61d3d;
}

h3.header {
    justify-self: flex-end;
}

h1 {
    font-size: 3em;
    padding: 0.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

h3 {
    font-size: 2em;
    padding: 0.5em;
}

.container {
    margin: auto;
}

.container.pearl-jam {
    background-color: #737272CC;
    /* opacity: 0.8; */
    justify-self: center;
    width: 80%;
    padding: 1em;
    margin: auto;
    text-align: center;
    height: min-content;
    font-size: 2em;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    width: 100%;
    padding: .5em;
    color: #d61d3d;
    background-color: #737373;
    border: 5px solid #5C5B5C;
    opacity: 0.8;
    border-radius: 5px;
}

button:hover {
    background-color: #5C5B5C;
    border: 5px solid #737373;
}

.question {
    padding: 0.5em 0 1.5em 0;
    border-bottom: 2px solid black;
}

.answers {
    font-family: 'Roboto', sans-serif;
    font-size: 0.5em;
    padding: 0.5em;
}

.answer-paragraph {
    padding: 0.25em;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0.5em;
}

.answer-paragraph:hover {
    background-color: black;
    opacity: 0.6;
    color: white;
}

.time-out {
    font-family: 'Roboto', sans-serif; 
}

.count-down {
    width: 100%;
    height: 30px;
    margin: 0.5em 0;
    background-color: green;
}

.count-down-timer {
    text-align: center;
}

.final-screen-h2 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif; 
    font-weight: 900;
    color: #d61d3d; 
}

.stats {
    border: none;
    margin: 1em;
}

#reset-button {
    width: 35%;
    margin: auto;
}

iframe {
    margin-top: 1em;
}